

   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
   }

   .navbar{
    background-color: black;
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

   }
   .nav-links{
    display: flex;
    list-style: none;
    
    
   }
   a{
    color: white;
    list-style: none;
    padding-left: 30px;
    text-decoration: none;
   }
   .logo{
    font-size: 40px;
    color:white;
    font-weight: bold;
    font-style:italic;

   }
   a :hover{
    
    color: red;
   }