/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    background-color: #1a0101;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 30px;
}

/* Logo */
.logo {
    color: white;
    font-size: 28px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
}

/* List Items */
.nav-links li {
    margin-left: 25px;
}

/* Links */
.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: Arial, sans-serif;
    transition: 0.3s;
}

/* Hover Effect */
.nav-links a:hover {
    color: yellow;
}