

   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

   .header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    
   }
   .nav-links {
    display: flex;
    list-style: none;
    
    
    

   }
   a{
    padding-left: 30px;
    color: aliceblue;
    
    
   }
   .logo{
    font-size: 30px;
   }
   .a :hover{
    color: red;

   }